.world {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.world:hover img{
    background: #1683dc;
}

.world:hover div.text {
    color: #1683dc;
}

.world img{
    border-radius: 50%;
    width: 100px;
}